{% extends "base.html" %}
{% load static %}
{% load settings_tags %}
{% load angularjs_tags %}
{% get_my_setting as MY_SETTING %}

{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="container pull-left fill">
    <div class="row table-bordered fill-height">
        <!-- notebook controller -->
        <div class="col-md-2 table-bordered fill-height" ng-controller="notebookListCtrl">
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        <a href="" ng-click="newNotebook()"><i class="fa fa-plus"></i> New NoteBook</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        Notebooks
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <form class="form-inline">
                    <div class="list-group">
                        <!-- loop -->
                        <a href="" class="list-group-item"
                                    ng-repeat="item in notebookList"
                                    ng-class="{'active': item.isFocus}"
                                    ng-click="selectNotebook($index)"
                                    context-menu="showContextMenu($index)"
                                    context-menu-close="hideContextMenu($index)"
                                    context-menu-disabled="false"
                                    data-target="notebook-contextmenu">
                            <i class="fa" ng-class="{'fa-trash-o': {% ng $last === true %}, 'fa-book': {% ng $last === false %}}"></i>
                            <span ng-show="item.isModify">
                                <input type="text" class="form-control input-mini input-sm"
                                       ng-model="item.title"
                                       ng-keypress="keyPress($event, $index)"
                                       ng-blur="titleBulr($event, $index)"
                                       ng-attr-id="{% ng 'notebook-title-' + $index %}">
                            </span>
                            <span ng-hide="item.isModify" ng-dblclick="dblClickTtile($index)">
                                {% ng item.title | shortcut:13 %}
                            </span>
                            <span class="badge">{% ng item.noteCnt %}</span>
                        </a>
                        <!--//loop-->
                    </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        Recent Notes
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px" ng-controller="recentNoteListCtrl">
                    <div class="list-group">
                        <!-- loop -->
                        <a href="" class="list-group-item" ng-repeat="item in recentNoteList" ng-click="clickRecentNote($index)">
                            <i class="fa fa-file-text-o"></i>
                            <span>{% ng item.title | shortcut:15 %}</span>
                        </a>
                        <!--// loop -->
                    </div>
                </div>
            </div>
        </div>
        <!--// notebook controller -->
        <!-- note controller -->
        <div class="col-md-2 table-bordered fill-height" ng-controller="noteListCtrl">
            <div class="row">
                <div class="col-md-12 padding-left-right-5px" ng-switch="notebookType">
                    <h5 ng-switch-when="trash">{% ng currentNotebook.title %}</h5>
                    <h5 ng-switch-when="search">Search</h5>
                    <h5 ng-switch-default><a href="" ng-click="addNote()"><i class="fa fa-plus"></i> {% ng currentNotebook.title %}</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <div class="list-group" >
                        <!-- loop -->
                        <a href=""
                           class="list-group-item"
                           ng-repeat="item in noteList"
                           ng-click="selectNote($index)"
                           ng-class="{'active': item.isFocus}"
                           context-menu="showContextMenu($index)"
                           data-target="note-contextmenu">
                            <h5 class="list-group-item-heading">{% ng item.title | shortcut:15 %}</h5>
                            <p class="list-group-item-text">{% ng item.regDate | limitTo:10 %}</p>
                        </a>
                        <!--//loop -->
                    </div>
                </div>
            </div>
        </div>
        <!--// note controller -->
        <!-- content controller -->
        <div class="col-md-8 table-bordered fill-height" ng-controller="noteCtrl">
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="filter-date">
                                        Create Date: {% ng note.regDate | limitTo:10 %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Modify Date: {% ng note.modifyDate | limitTo:10 %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="filter-parent" id="search">
                                        <label for="filter-by"><i class="fa fa-search"></i></label>
                                        <input placeholder="Search notes"
                                               id="filter-by"
                                               class="form-control"
                                               tabindex="1"
                                               ng-model="searchText"
                                                ng-keypress="keypressSearchText($event)">
                                        <a href="" id="filter-clear" class="fa fa-times" ng-show="searchText.length>0" ng-click="clickSearchTextClear()"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <ng-view></ng-view>
                </div>
            </div>
        </div>
        <!--// content controller -->
    </div>
</div>

<div id="notebook-contextmenu" class="dropdown position-fixed top-menu" ng-controller="notebookContextMenuCtrl">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="1" href="" ng-click="renameNotebook($event)">Rename Notebook</a></li>
        <li role="presentation" class="divider"></li>
        <li><a tabindex="2" href="" ng-click="deleteNotebook($event)">Delete Notebook</a></li>
        <li><a tabindex="3" href="" ng-click="emptyTrash($event)">Empty Trash</a></li>
    </ul>
</div>

<div id="note-contextmenu" class="dropdown position-fixed top-menu" ng-controller="noteContextMenuCtrl">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="1" href="" ng-click="duplicateNote($event)">Duplicate Note</a></li>
        <li role="presentation" class="divider"></li>
        <li><a tabindex="2" href="" ng-click="deleteNote($event)">Delete Note</a></li>
    </ul>
</div>

<div style="display:none">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/quicksiver/app.js?v=' %}{{ MY_SETTING.version }}"></script>
<script src="{% static 'js/quicksiver/controllers/notebookListCtrl.js?v=' %}{{ MY_SETTING.version }}"></script>
<script src="{% static 'js/quicksiver/controllers/noteCtrl.js?v=' %}{{ MY_SETTING.version }}"></script>
<script src="{% static 'js/quicksiver/controllers/noteListCtrl.js?v=' %}{{ MY_SETTING.version }}"></script>
<script src="{% static 'js/quicksiver/controllers/recentNoteListCtrl.js?v=' %}{{ MY_SETTING.version }}"></script>
<script src="{% static 'js/quicksiver/services/service.js?v=' %}{{ MY_SETTING.version }}"></script>
{% endblock script %}