{% extends "base.html" %}
{% load static %}
{% load settings_tags %}
{% load angularjs_tags %}
{% get_my_setting as MY_SETTING %}

{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="container pull-left fill">
    <div class="row table-bordered fill-height">
        <!-- notebook controller -->
        <div class="col-md-2 table-bordered fill-height" ng-controller="notebookCtrl">
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        <a href="#" ng-click="newNotebook()"><i class="fa fa-plus"></i> New NoteBook</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        Notebooks
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <form class="form-inline">
                    <div class="list-group">
                        <!-- loop -->
                        <a href="#" class="list-group-item"
                                    ng-repeat="item in notebookList"
                                    ng-click="selectNotebook($index)"
                                    context-menu="showContextMenu($index)"
                                    context-menu-close="hideContextMenu($index)"
                                    context-menu-disabled="false"
                                    data-target="notebook-contextmenu"
                                    ng-switch="item.isModify">
                            <i class="fa" ng-class="{'fa-trash-o': {% ng $last === true %}, 'fa-book': {% ng $last === false %}}"></i>
                            <span ng-switch-when="false" ng-dblclick="doModify($index)">
                                {% ng item.title %}
                            </span>
                            <span ng-switch-when="true">
                                <input type="text" class="form-control input-mini input-sm"
                                       ng-model="item.title"
                                       ng-keypress="keyPress($event)"
                                        id="notebook-title-{% ng $index %}">
                            </span>
                            <span class="badge">{% ng item.noteCnt %}</span>
                        </a>
                        <!--//loop-->
                    </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        Recent Notes
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <div class="list-group">
                        <!-- loop -->
                        <a href="#" class="list-group-item" ng-repeat="item in recentNoteList">
                            <i class="fa fa-file-text-o"></i>
                            <span>{% ng item.title %}</span>
                        </a>
                        <!--// loop -->
                    </div>
                </div>
            </div>
        </div>
        <!--// notebook controller -->
        <!-- note controller -->
        <div class="col-md-2 table-bordered fill-height" ng-controller="noteCtrl">
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        <a href="#" ng-click="newNote($event)"><i class="fa fa-plus"></i> New Note</a>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        Note
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <div class="list-group" >
                        <!-- loop -->
                        <a href="#"
                           class="list-group-item"
                           ng-repeat="item in noteList"
                           context-menu="showContextMenu($index)"
                           data-target="note-contextmenu">
                            <h5 class="list-group-item-heading">{% ng item.title %}</h5>
                            <p class="list-group-item-text">{% ng item.regDate %}</p>
                        </a>
                        <!--//loop -->
                    </div>
                </div>
            </div>
        </div>
        <!--// note controller -->
        <!-- content controller -->
        <div class="col-md-8 table-bordered fill-height" ng-controller="contentCtrl">
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <h5>
                        <a href="#"><i class="fa fa-caret-square-o-left fa-lg"></i></a>
                        <a href="#"><i class="fa fa-caret-square-o-right fa-lg"></i></a>
                    </h5>
                    <a href="#content">페이지 보기</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-right-5px">
                    <ng-view></ng-view>
                </div>
            </div>
        </div>
        <!--// content controller -->
    </div>
</div>

<div id="notebook-contextmenu" class="dropdown position-fixed" ng-controller="notebookContextMenuCtrl">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="1" href="#" ng-click="renameNotebook($event)">Rename Notebook</a></li>
        <li role="presentation" class="divider"></li>
        <li><a tabindex="2" href="#" ng-click="deleteNotebook($event)">Delete Notebook</a></li>
        <li><a tabindex="3" href="#" ng-click="emptyTrash($event)">Empty Trash</a></li>
    </ul>
</div>

<div id="note-contextmenu" class="dropdown position-fixed" ng-controller="noteContextMenuCtrl">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="1" href="#" ng-click="duplicateNote($event)">Duplicate Note</a></li>
        <li role="presentation" class="divider"></li>
        <li><a tabindex="2" href="#" ng-click="deleteNote($event)">Delete Note</a></li>
    </ul>
</div>


{% endblock content %}

{% block script %}
<script src="{% static 'js/quicksiver/app.js?v=' %}{{ MY_SETTING.version }}"></script>
{% endblock script %}