@charset "UTF-8";

html, body {
    height: 100%;
}

.border-zero {border:0px !important;}
.padding-zero {padding:0px !important;}
.padding-left-right-5px {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.margin-btm-zero {margin-bottom: 0px !important;}

.fill-width {width: 100% !important;}
.fill-height {
    height: 100% !important;
    min-height: 100% !important;
}
.fill{
    width:100% !important;
    height:100% !important;
    min-height:100% !important;
}

.bgcolor-ddd {
    background-color: #ddd;
}

.input-sm {
    height: 25px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.0;
    border-radius: 3px;
}

.position-fixed {
    position: fixed;
}

.top-menu {
    z-index: 2000 !important;
}

.hidden {
    display: none;
}

.filter-date {
    position: relative;
    font-size: 13px;
    padding-top: 40px;
    margin: -7px auto 10px;
}
.filter-parent {
    position: relative;
    font-size: 18px;
    padding-top: 40px;
    margin: -25px auto 10px;
}
.filter-parent label {
    position: absolute;
    left: 17px;
    top: 45px;
}
.filter-parent #filter-by,
.filter-parent .hint {
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 23px;
}
.filter-parent .hint {
    color: #aaa;
}
.filter-parent #filter-clear {
    text-decoration: none;
    position: absolute;
    right: 18px;
    top: 48px;
}